/* ****************************************************************************
 *
 * Copyright 2017 Jelly Chatting. All right reserved.
 *
 * ****************************************************************************
 * 
 *  CREATOR : river0427@daum.net (Kim, Ga-ram)
 *  DATE    : 2017. 01. 26
 *  ENCODING: UTF-8
 * 
 *  DETAIL: 젤팅 전체 CSS
 * 
 *************************************************************************** */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*********** 공통 css 시작 **********/

a,
input,
button {
	transition: .4s ease;
}

a,
a:hover,
a:focus {
    color: #000;
}
a:hover,
a:focus {
    text-decoration: underline;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	background-color: #fffa7d;
	background-color: #9ae4ff;
	background-color: #ffb9c5;
}

.container {
	width: 80%;
	max-width: 1500px;
	padding: 0;
	margin: 0 auto;
/*	background-color: #9ae4ff;*/
}

.container .col-xs-12 {
    padding-right: 0;
    padding-left: 0;
}

.header {
	
}

.header h1 {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 2.5em;
	text-align: center;
}

.footer {
	text-align: center;
}









/* 우측 채팅창 */
.chat-box {
	width: 80%;
    margin: 0 auto;
}

.chat-box {
	background-color: #fff;
	padding: 40px;
	border-radius: 40px;
}

.chat-area {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 20px 0;
}

.chat-area ul {
    height: 400px;
    overflow: auto;
}

.chat-area ul > li {
    line-height: 2;
}

.chat-nick,
.chat-state,
.chat-content,
.chat-btn {
    float: left;
    margin-right: 1%;
}

.chat-nick,
.chat-state {
    width: 120px;
}

.chat-content {
    width: 89%;
}
.chat-btn {
    width: 10%;
    margin-right: 0;
}








/* 좌측 메뉴 */
.chat-menu-box {
	width: 20%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}